@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /* Lato Font */

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

/* Resets */
* {
    box-sizing: border-box; /* Add Paddings and borders to the width */
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%; /* This will keep images inside their container no matter how big they are */
}

code, pre{
    background-color: #333;
    color: white;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Navbar Styling */
.navbar {
    background-color: var(--primary-color);
    color: white;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px white solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase | Hero */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative; /* just in case we need to place something with absolute in it*/
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-out;
}

.showcase-form {
    position: relative; /* to use the top/bottom/etc */
    top: 60px;
    height: 350px;
    width: 400px;
    z-index: 100;
    animation: slideInFromRight 1s ease-out;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'], 
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
} /* We are doing this to not target the submit button */

.showcase-form input:focus {
    outline: none;
}


.showcase::before, 
.showcase::after {
    content: ''; /* Obligatorio content asi sea vacio*/
    position: absolute; /*Para eso pusimos showcase con position relative*/
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0; /*Creo que es lo mismo que width 100%, pero ya veremos*/
    background-color: white;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg); /*Chrome Safari*/
    -moz-transform: skewY(-2deg); /*Mozilla*/
    -ms-transform: skewY(-2deg); /*IE*/
}

/* Stats */

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-out;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}


/* CLI */

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
    flex-wrap: wrap;
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px; 
    /* margin: 25px 50px 75px;
    top margin is 25px
    right and left margins are 50px
    bottom margin is 75px*/
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Features */

.features-head img,
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i{
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Docs */

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

/* Footer */

.footer .social a {
    margin: 0 10px;
}

/* Animations */

@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}
/*MEDIA QUERIES*/

/*Tables and under*/

@media(max-width: 768px) {
    /* body {
        display: none; Puedes usar esto para testear el punto de cambio
    } */
    .grid, 
    .showcase .grid, 
    .stats .grid,
    .cli .grid,
    .cloud .grid, 
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase { /* Sin esto, el div de Request a Demo no se toma en el height*/
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    /* .cli .grid {
        grid-template-rows: repeat(3, 1fr);
    } */

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head, 
    .features-sub-head,
    .docs-head{
        text-align: center;
    }
    .features-head img, 
    .features-sub-head img,
    .docs-head img{
        justify-self: center;
    }

    
    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
    
}
/*Mobile*/
/*Puse 570 para poder ver el ejemplo pero en el tutorial ponen 500px*/
@media(max-width: 570px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}
